.grid {
    display: grid;
    grid-template-columns: repeat(10, 100px); /* Set the number of columns to 20 */
    grid-template-rows: repeat(3, 100px); /* Set the number of rows to 3 and the height of each row */
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .win-message {
    font-size: 24px; /* Adjust the font size as needed */
    text-align: center;
    margin-top: 20px;
    color: #5f2ec9;
    font-weight: bold;
  }
  