.app {
  background-image: url('https://imgix.bustle.com/fatherly/2018/06/bikini-bottom.jpg?w=1200&h=630&fit=crop&crop=faces&fm=jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #fff;
}
