.app {
  background-image: 'bikini_bottom.png';
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #fff; /* Set your desired text color */
}
